body {
  background-color: rgb(19, 23, 34);
}
.tamaño-text {
  width: 150px;
}
.tamaño-text2 {
  width: 120px;
}
.hero {
  height: 725px;
}
.fondo {
  background-image: url(../assets/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40%;
}
.color-text {
  color: azure;
}
.bg-color {
  background-color: rgb(19, 23, 34);
}
